/node_modules
.idea/
.settings/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*
.DS_Store
Thumbs.db

/public/**
/json_schema
test.ts
.gitlab-ci.yml
/src
*.iml
tsconfig.json
